.spell-effect {
    height: 32px;
    width: 32px;
    display: inline-block;
}

/* Row 1 */
.arrows-spell {
    background: url('../img/original/spell_effects.png') -0px -0px;
}
.dart-spell {
    background: url('../img/original/spell_effects.png') -32px -0px;
}
.snow-spell {
    background: url('../img/original/spell_effects.png') -64px -0px;
}
.water-spell {
    background: url('../img/original/spell_effects.png') -96px -0px;
}

/* Row 2 */
.fire-bolt-spell {
    background: url('../img/original/spell_effects.png') -0px -32px;
}
.ice-bolt-spell {
    background: url('../img/original/spell_effects.png') -32px -32px;
}
.lightnig-bolt-spell {
    background: url('../img/original/spell_effects.png') -64px -32px;
}
.acid-bolt-spell {
    background: url('../img/original/spell_effects.png') -96px -32px;
}

/* Row 3 */
.wind1-spell {
    background: url('../img/original/spell_effects.png') -0px -64px;
}
.wind2-spell {
    background: url('../img/original/spell_effects.png') -32px -64px;
}
.fire1-spell {
    background: url('../img/original/spell_effects.png') -64px -64px;
}
.fire2-spell {
    background: url('../img/original/spell_effects.png') -96px -64px;
}

/* Row 4 */
.lightning1-spell {
    background: url('../img/original/spell_effects.png') -0px -96px;
}
.lightning2-spell {
    background: url('../img/original/spell_effects.png') -32px -96px;
}
.lightning3-spell {
    background: url('../img/original/spell_effects.png') -64px -96px;
}