.building {
    position: absolute;
}

/* Row 1 */
.gate {
    background: url('../assets/buildings.png') -0px -0px;
    height: 32px;
    width: 96px;
}
.hut {
    background: url('../assets/buildings.png') -96px -0px;
    height: 64px;
    width: 64px;
}
.hut-fire {
    background: url('../assets/buildings.png') -160px -0px;
    height: 64px;
    width: 64px;
}
.house-up {
    background: url('../assets/buildings.png') -224px -0px;
    height: 64px;
    width: 96px;
}
.house-down1 {
    background: url('../assets/buildings.png') -320px -0px;
    height: 64px;
    width: 96px;
}
.house-down2 {
    background: url('../assets/buildings.png') -416px -0px;
    height: 64px;
    width: 96px;
}
.yurt {
    background: url('../assets/buildings.png') -512px -0px;
    height: 64px;
    width: 64px;
}

/* Row 2 */
.straw-house-east {
    background: url('../assets/buildings.png') -0px -64px;
    height: 96px;
    width: 96px;
}
.straw-house-east-fire {
    background: url('../assets/buildings.png') -96px -64px;
    height: 96px;
    width: 96px;
}
.straw-house-west {
    background: url('../assets/buildings.png') -192px -64px;
    height: 96px;
    width: 96px;
}
.straw-house-west-fire {
    background: url('../assets/buildings.png') -288px -64px;
    height: 96px;
    width: 96px;
}
.house-right {
    background: url('../assets/buildings.png') -384px -64px;
    height: 96px;
    width: 64px;
}
.junk-yard {
    background: url('../assets/buildings.png') -448px -64px;
    height: 96px;
    width: 96px;
}

/* Row 3 */
.pantheon {
    background: url('../assets/buildings.png') -0px -160px;
    height: 128px;
    width: 96px;
}
.villa1 {
    background: url('../assets/buildings.png') -96px -160px;
    height: 128px;
    width: 96px;
}
.villa2 {
    background: url('../assets/buildings.png') -192px -160px;
    height: 128px;
    width: 96px;
}

/* Row 4 */
.hut-temple {
    background: url('../assets/buildings.png') -0px -288px;
    height: 160px;
    width: 160px;
}
.hut-temple-fire {
    background: url('../assets/buildings.png') -160px -288px;
    height: 160px;
    width: 160px;
}
.town {
    background: url('../assets/buildings.png') -320px -288px;
    height: 160px;
    width: 256px;
}
.temple {
    background: url('../assets/buildings.png') -576px -288px;
    height: 160px;
    width: 160px;
}