.effect {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('../../assets/effects.png');
    background-size: 1024px 448px;
    background-repeat: no-repeat;
}
/* --- root --- */
.alembic_potion0 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -0px;
}
.alembic_potion1 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -0px;
}
.alembic_potion2 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -0px;
}
.alembic_potion3 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -0px;
}
.alembic_potion4 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -0px;
}
.antimagic_gaze {
    background-image: url('../../assets/effects.png');
    background-position: -160px -0px;
}
.arrow0 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -0px;
}
.arrow1 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -0px;
}
.arrow2 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -0px;
}
.arrow3 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -0px;
}
.arrow4 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -0px;
}
.arrow5 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -0px;
}
.arrow6 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -0px;
}
.arrow7 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -0px;
}
.beckoning_gale {
    background-image: url('../../assets/effects.png');
    background-position: -448px -0px;
}
.blasphemy {
    background-image: url('../../assets/effects.png');
    background-position: -480px -0px;
}
.blood_arrow0 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -0px;
}
.blood_arrow1 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -0px;
}
.blood_arrow2 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -0px;
}
.blood_arrow3 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -0px;
}
.blood_arrow4 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -0px;
}
.blood_arrow5 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -0px;
}
.blood_arrow6 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -0px;
}
.blood_arrow7 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -0px;
}
.blood_for_blood {
    background-image: url('../../assets/effects.png');
    background-position: -768px -0px;
}
.bolas {
    background-image: url('../../assets/effects.png');
    background-position: -800px -0px;
}
.bolt0 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -0px;
}
.bolt01 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -0px;
}
.bolt02 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -0px;
}
.bolt03 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -0px;
}
.bolt04 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -0px;
}
.bolt05 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -0px;
}
.bolt06 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -32px;
}
.bolt07 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -32px;
}
.bolt08 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -32px;
}
.bolt1 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -32px;
}
.bolt2 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -32px;
}
.bolt3 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -32px;
}
.bolt4 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -32px;
}
.bolt5 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -32px;
}
.bolt6 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -32px;
}
.bolt7 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -32px;
}
.bomblet_blast0 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -32px;
}
.bomblet_blast1 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -32px;
}
.bomblet_launch0 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -32px;
}
.bomblet_launch1 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -32px;
}
.boomerang0 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -32px;
}
.boomerang1 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -32px;
}
.boomerang2 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -32px;
}
.boomerang3 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -32px;
}
.chaos_buff0 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -32px;
}
.chaos_buff1 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -32px;
}
.chaos0 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -32px;
}
.chaos1 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -32px;
}
.chaos2 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -32px;
}
.cloud_acid0 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -32px;
}
.cloud_acid1 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -32px;
}
.cloud_acid2 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -32px;
}
.cloud_bat_mist0 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -32px;
}
.cloud_bat_mist1 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -32px;
}
.cloud_bat_mist2 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -32px;
}
.cloud_bat_mist3 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -32px;
}
.cloud_black_smoke {
    background-image: url('../../assets/effects.png');
    background-position: -960px -32px;
}
.cloud_blastmotes0 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -32px;
}
.cloud_blastmotes1 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -64px;
}
.cloud_blastmotes2 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -64px;
}
.cloud_blue_smoke {
    background-image: url('../../assets/effects.png');
    background-position: -64px -64px;
}
.cloud_calc_dust0 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -64px;
}
.cloud_calc_dust1 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -64px;
}
.cloud_calc_dust2 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -64px;
}
.cloud_calc_dust3 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -64px;
}
.cloud_chaos1 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -64px;
}
.cloud_chaos2 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -64px;
}
.cloud_chaos3 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -64px;
}
.cloud_chaos4 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -64px;
}
.cloud_chaos5 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -64px;
}
.cloud_cold0 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -64px;
}
.cloud_cold1 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -64px;
}
.cloud_cold2 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -64px;
}
.cloud_degeneration {
    background-image: url('../../assets/effects.png');
    background-position: -480px -64px;
}
.cloud_dust0 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -64px;
}
.cloud_dust1 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -64px;
}
.cloud_dust2 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -64px;
}
.cloud_dust3 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -64px;
}
.cloud_electricity_trail0 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -64px;
}
.cloud_electricity_trail1 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -64px;
}
.cloud_electricity_trail2 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -64px;
}
.cloud_electricity_trail3 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -64px;
}
.cloud_faint_miasma0 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -64px;
}
.cloud_faint_miasma1 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -64px;
}
.cloud_faint_miasma2 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -64px;
}
.cloud_faint_miasma3 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -64px;
}
.cloud_fire0 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -64px;
}
.cloud_fire1 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -64px;
}
.cloud_fire2 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -64px;
}
.cloud_flame_trail0 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -64px;
}
.cloud_flame_trail1 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -96px;
}
.cloud_flame_trail2 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -96px;
}
.cloud_flame_trail3 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -96px;
}
.cloud_forest_fire {
    background-image: url('../../assets/effects.png');
    background-position: -96px -96px;
}
.cloud_gloom {
    background-image: url('../../assets/effects.png');
    background-position: -128px -96px;
}
.cloud_gold_dust0 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -96px;
}
.cloud_gold_dust1 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -96px;
}
.cloud_gold_dust2 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -96px;
}
.cloud_gold_dust3 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -96px;
}
.cloud_grey_smoke {
    background-image: url('../../assets/effects.png');
    background-position: -288px -96px;
}
.cloud_magic_trail0 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -96px;
}
.cloud_magic_trail1 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -96px;
}
.cloud_magic_trail2 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -96px;
}
.cloud_magic_trail3 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -96px;
}
.cloud_magnetic0 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -96px;
}
.cloud_magnetic1 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -96px;
}
.cloud_magnetic2 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -96px;
}
.cloud_meph0 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -96px;
}
.cloud_meph1 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -96px;
}
.cloud_meph2 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -96px;
}
.cloud_miasma0 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -96px;
}
.cloud_miasma1 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -96px;
}
.cloud_miasma2 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -96px;
}
.cloud_misery0 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -96px;
}
.cloud_misery1 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -96px;
}
.cloud_misery2 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -96px;
}
.cloud_mutagenic_large1 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -96px;
}
.cloud_mutagenic_large2 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -96px;
}
.cloud_mutagenic_large3 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -96px;
}
.cloud_mutagenic_large4 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -96px;
}
.cloud_mutagenic_medium1 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -96px;
}
.cloud_mutagenic_medium2 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -96px;
}
.cloud_mutagenic_small1 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -128px;
}
.cloud_mutagenic_small2 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -128px;
}
.cloud_poison0 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -128px;
}
.cloud_poison1 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -128px;
}
.cloud_poison2 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -128px;
}
.cloud_rain1 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -128px;
}
.cloud_rain2 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -128px;
}
.cloud_rust0 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -128px;
}
.cloud_rust1 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -128px;
}
.cloud_rust2 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -128px;
}
.cloud_rust3 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -128px;
}
.cloud_spectral0 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -128px;
}
.cloud_spectral1 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -128px;
}
.cloud_spectral2 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -128px;
}
.cloud_storm1 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -128px;
}
.cloud_storm2 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -128px;
}
.cloud_tloc_energy {
    background-image: url('../../assets/effects.png');
    background-position: -512px -128px;
}
.cloud_yellow_smoke {
    background-image: url('../../assets/effects.png');
    background-position: -544px -128px;
}
.contam0 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -128px;
}
.contam1 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -128px;
}
.contam2 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -128px;
}
.contam3 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -128px;
}
.crystal_spear0 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -128px;
}
.crystal_spear1 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -128px;
}
.crystal_spear2 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -128px;
}
.crystal_spear3 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -128px;
}
.crystal_spear4 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -128px;
}
.crystal_spear5 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -128px;
}
.crystal_spear6 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -128px;
}
.crystal_spear7 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -128px;
}
.damnation {
    background-image: url('../../assets/effects.png');
    background-position: -960px -128px;
}
.disjunct0 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -128px;
}
.disjunct1 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -160px;
}
.disjunct2 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -160px;
}
.disjunct3 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -160px;
}
.doom_bolt0 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -160px;
}
.doom_bolt1 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -160px;
}
.drain0 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -160px;
}
.drain1 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -160px;
}
.drain2 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -160px;
}
.draining_gaze {
    background-image: url('../../assets/effects.png');
    background-position: -256px -160px;
}
.draining_smirk {
    background-image: url('../../assets/effects.png');
    background-position: -288px -160px;
}
.entropic_weave {
    background-image: url('../../assets/effects.png');
    background-position: -320px -160px;
}
.fire_storm0 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -160px;
}
.flame0 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -160px;
}
.flame1 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -160px;
}
.flame2 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -160px;
}
.flesh0 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -160px;
}
.flesh1 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -160px;
}
.force_lance0 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -160px;
}
.force_lance1 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -160px;
}
.force_lance2 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -160px;
}
.force_lance3 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -160px;
}
.force_lance4 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -160px;
}
.force_lance5 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -160px;
}
.force_lance6 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -160px;
}
.force_lance7 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -160px;
}
.fortress_blast {
    background-image: url('../../assets/effects.png');
    background-position: -800px -160px;
}
.frost0 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -160px;
}
.frost1 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -160px;
}
.frostfire0 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -160px;
}
.frostfire1 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -160px;
}
.frostfire2 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -160px;
}
.frostfire3 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -160px;
}
.frostfire4 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -192px;
}
.frostfire5 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -192px;
}
.frostfire6 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -192px;
}
.frostfire7 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -192px;
}
.fulsome_electric {
    background-image: url('../../assets/effects.png');
    background-position: -128px -192px;
}
.fulsome_fire {
    background-image: url('../../assets/effects.png');
    background-position: -160px -192px;
}
.fulsome_ice {
    background-image: url('../../assets/effects.png');
    background-position: -192px -192px;
}
.fulsome_poison {
    background-image: url('../../assets/effects.png');
    background-position: -224px -192px;
}
.fulsome_quintessence {
    background-image: url('../../assets/effects.png');
    background-position: -256px -192px;
}
.geist_lash_boot {
    background-image: url('../../assets/effects.png');
    background-position: -288px -192px;
}
.geist_lash_cloak {
    background-image: url('../../assets/effects.png');
    background-position: -320px -192px;
}
.geist_lash_glove {
    background-image: url('../../assets/effects.png');
    background-position: -352px -192px;
}
.geist_lash_hat {
    background-image: url('../../assets/effects.png');
    background-position: -384px -192px;
}
.geist_lash_helmet {
    background-image: url('../../assets/effects.png');
    background-position: -416px -192px;
}
.geist_lash_scarf {
    background-image: url('../../assets/effects.png');
    background-position: -448px -192px;
}
.ghostfire0 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -192px;
}
.ghostfire1 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -192px;
}
.gloom0 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -192px;
}
.gloom1 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -192px;
}
.haemoclasm0 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -192px;
}
.haemoclasm1 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -192px;
}
.haemoclasm2 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -192px;
}
.haemoclasm3 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -192px;
}
.halo_range {
    background-image: url('../../assets/effects.png');
    background-position: -736px -192px;
}
.harpoon_shot0 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -192px;
}
.harpoon_shot1 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -192px;
}
.harpoon_shot2 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -192px;
}
.harpoon_shot3 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -192px;
}
.harpoon_shot4 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -192px;
}
.harpoon_shot5 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -192px;
}
.harpoon_shot6 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -192px;
}
.harpoon_shot7 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -192px;
}
.heataura0 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -224px;
}
.heataura1 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -224px;
}
.heataura2 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -224px;
}
.iceblast0 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -224px;
}
.iceblast1 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -224px;
}
.icicle_salvo0 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -224px;
}
.icicle_salvo1 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -224px;
}
.icicle_salvo2 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -224px;
}
.icicle_salvo3 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -224px;
}
.icicle_salvo4 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -224px;
}
.icicle_salvo5 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -224px;
}
.icicle_salvo6 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -224px;
}
.icicle_salvo7 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -224px;
}
.icicle0 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -224px;
}
.icicle1 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -224px;
}
.icicle2 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -224px;
}
.icicle3 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -224px;
}
.icicle4 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -224px;
}
.icicle5 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -224px;
}
.icicle6 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -224px;
}
.icicle7 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -224px;
}
.ignite_poison_target0 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -224px;
}
.ignite_poison_target1 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -224px;
}
.ignite_poison_terrain0 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -224px;
}
.ignite_poison_terrain1 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -224px;
}
.indicator_1 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -224px;
}
.indicator_2 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -224px;
}
.indicator_3 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -224px;
}
.indicator_4 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -224px;
}
.indicator_5 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -224px;
}
.indicator_6 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -224px;
}
.indicator_7 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -224px;
}
.indicator_8 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -256px;
}
.iron_shot0 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -256px;
}
.iron_shot1 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -256px;
}
.iron_shot2 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -256px;
}
.iron_shot3 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -256px;
}
.iron_shot4 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -256px;
}
.iron_shot5 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -256px;
}
.iron_shot6 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -256px;
}
.iron_shot7 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -256px;
}
.irradiate0 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -256px;
}
.irradiate1 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -256px;
}
.irradiate2 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -256px;
}
.irradiate3 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -256px;
}
.javelin0 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -256px;
}
.javelin1 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -256px;
}
.javelin2 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -256px;
}
.javelin3 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -256px;
}
.javelin4 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -256px;
}
.javelin5 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -256px;
}
.javelin6 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -256px;
}
.javelin7 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -256px;
}
.light_beam0 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -256px;
}
.light_beam1 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -256px;
}
.light_beam2 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -256px;
}
.light_beam3 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -256px;
}
.light_beam4 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -256px;
}
.light_beam5 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -256px;
}
.light_beam6 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -256px;
}
.light_beam7 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -256px;
}
.magic_dart0 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -256px;
}
.magic_dart1 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -256px;
}
.magic_dart2 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -256px;
}
.magic_dart3 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -288px;
}
.magic_dart4 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -288px;
}
.magic_dart5 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -288px;
}
.magma0 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -288px;
}
.magma1 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -288px;
}
.manifold_assault0 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -288px;
}
.manifold_assault1 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -288px;
}
.medium_air0 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -288px;
}
.medium_air1 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -288px;
}
.meph_flask0 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -288px;
}
.meph_flask1 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -288px;
}
.meph_flask2 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -288px;
}
.meph_flask3 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -288px;
}
.mystic_blast {
    background-image: url('../../assets/effects.png');
    background-position: -416px -288px;
}
.needle0 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -288px;
}
.needle1 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -288px;
}
.needle2 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -288px;
}
.needle3 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -288px;
}
.needle4 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -288px;
}
.needle5 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -288px;
}
.needle6 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -288px;
}
.needle7 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -288px;
}
.net_trap {
    background-image: url('../../assets/effects.png');
    background-position: -704px -288px;
}
.oblivion_howl {
    background-image: url('../../assets/effects.png');
    background-position: -736px -288px;
}
.orb_glow0 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -288px;
}
.orb_glow1 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -288px;
}
.ostracise {
    background-image: url('../../assets/effects.png');
    background-position: -832px -288px;
}
.paragon_tempest0 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -288px;
}
.paragon_tempest1 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -288px;
}
.percussive_tempering {
    background-image: url('../../assets/effects.png');
    background-position: -928px -288px;
}
.phantom_blitz {
    background-image: url('../../assets/effects.png');
    background-position: -960px -288px;
}
.pie0 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -288px;
}
.pie1 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -320px;
}
.pie2 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -320px;
}
.pie3 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -320px;
}
.pie4 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -320px;
}
.pie5 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -320px;
}
.pie6 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -320px;
}
.pie7 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -320px;
}
.poison_arrow0 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -320px;
}
.poison_arrow1 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -320px;
}
.poison_arrow2 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -320px;
}
.poison_arrow3 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -320px;
}
.poison_arrow4 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -320px;
}
.poison_arrow5 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -320px;
}
.poison_arrow6 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -320px;
}
.poison_arrow7 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -320px;
}
.polar_vortex1 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -320px;
}
.polar_vortex2 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -320px;
}
.potion_petition0 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -320px;
}
.potion_petition1 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -320px;
}
.potion_petition2 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -320px;
}
.potion_petition3 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -320px;
}
.potion_petition4 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -320px;
}
.potion_petition5 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -320px;
}
.quad_glow {
    background-image: url('../../assets/effects.png');
    background-position: -736px -320px;
}
.rock0 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -320px;
}
.sanctuary {
    background-image: url('../../assets/effects.png');
    background-position: -800px -320px;
}
.sandblast0 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -320px;
}
.sandblast1 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -320px;
}
.sandblast2 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -320px;
}
.sap_magic {
    background-image: url('../../assets/effects.png');
    background-position: -928px -320px;
}
.searing_ray0 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -320px;
}
.searing_ray1 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -320px;
}
.searing_ray2 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -352px;
}
.searing_ray3 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -352px;
}
.searing_ray4 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -352px;
}
.searing_ray5 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -352px;
}
.sentinel_mark {
    background-image: url('../../assets/effects.png');
    background-position: -128px -352px;
}
.shadow_beam0 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -352px;
}
.shadow_beam1 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -352px;
}
.shadow_beam2 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -352px;
}
.shadow_beam3 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -352px;
}
.shadow_blast0 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -352px;
}
.shadow_blast1 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -352px;
}
.shadow_blast2 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -352px;
}
.shadow_blast3 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -352px;
}
.shadow_shard {
    background-image: url('../../assets/effects.png');
    background-position: -416px -352px;
}
.shadow_shot0 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -352px;
}
.shadow_shot1 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -352px;
}
.shadow_shot2 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -352px;
}
.shadow_shot3 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -352px;
}
.shadow_shot4 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -352px;
}
.shadow_shot5 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -352px;
}
.shadow_shot6 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -352px;
}
.shadow_shot7 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -352px;
}
.silenced {
    background-image: url('../../assets/effects.png');
    background-position: -704px -352px;
}
.silver_sling_bullet_runed0 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -352px;
}
.silver_sling_bullet0 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -352px;
}
.sling_bullet_runed0 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -352px;
}
.sling_bullet0 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -352px;
}
.slug0 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -352px;
}
.slug1 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -352px;
}
.slug2 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -352px;
}
.slug3 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -352px;
}
.slug4 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -352px;
}
.slug5 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -384px;
}
.slug6 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -384px;
}
.slug7 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -384px;
}
.splinters_metal0 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -384px;
}
.splinters_metal1 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -384px;
}
.splinters_metal2 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -384px;
}
.splinters_metal3 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -384px;
}
.splinters_metal4 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -384px;
}
.splinters_metal5 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -384px;
}
.splinters_metal6 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -384px;
}
.splinters_metal7 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -384px;
}
.splinters_thornwood0 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -384px;
}
.splinters_thornwood1 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -384px;
}
.splinters_thornwood2 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -384px;
}
.splinters_thornwood3 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -384px;
}
.splinters_thornwood4 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -384px;
}
.splinters_thornwood5 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -384px;
}
.splinters_thornwood6 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -384px;
}
.splinters_thornwood7 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -384px;
}
.steel_sling_bullet_runed0 {
    background-image: url('../../assets/effects.png');
    background-position: -608px -384px;
}
.steel_sling_bullet0 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -384px;
}
.sting0 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -384px;
}
.sting1 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -384px;
}
.sting2 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -384px;
}
.stone_arrow0 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -384px;
}
.stone_arrow1 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -384px;
}
.stone_arrow2 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -384px;
}
.stone_arrow3 {
    background-image: url('../../assets/effects.png');
    background-position: -864px -384px;
}
.stone_arrow4 {
    background-image: url('../../assets/effects.png');
    background-position: -896px -384px;
}
.stone_arrow5 {
    background-image: url('../../assets/effects.png');
    background-position: -928px -384px;
}
.stone_arrow6 {
    background-image: url('../../assets/effects.png');
    background-position: -960px -384px;
}
.stone_arrow7 {
    background-image: url('../../assets/effects.png');
    background-position: -992px -384px;
}
.stone0 {
    background-image: url('../../assets/effects.png');
    background-position: -0px -416px;
}
.strong_air0 {
    background-image: url('../../assets/effects.png');
    background-position: -32px -416px;
}
.strong_air1 {
    background-image: url('../../assets/effects.png');
    background-position: -64px -416px;
}
.sundering0 {
    background-image: url('../../assets/effects.png');
    background-position: -96px -416px;
}
.sundering1 {
    background-image: url('../../assets/effects.png');
    background-position: -128px -416px;
}
.sundering2 {
    background-image: url('../../assets/effects.png');
    background-position: -160px -416px;
}
.sundering3 {
    background-image: url('../../assets/effects.png');
    background-position: -192px -416px;
}
.throwing_net0 {
    background-image: url('../../assets/effects.png');
    background-position: -224px -416px;
}
.throwing_net1 {
    background-image: url('../../assets/effects.png');
    background-position: -256px -416px;
}
.throwing_net2 {
    background-image: url('../../assets/effects.png');
    background-position: -288px -416px;
}
.throwing_net3 {
    background-image: url('../../assets/effects.png');
    background-position: -320px -416px;
}
.throwing_net4 {
    background-image: url('../../assets/effects.png');
    background-position: -352px -416px;
}
.throwing_net5 {
    background-image: url('../../assets/effects.png');
    background-position: -384px -416px;
}
.throwing_net6 {
    background-image: url('../../assets/effects.png');
    background-position: -416px -416px;
}
.throwing_net7 {
    background-image: url('../../assets/effects.png');
    background-position: -448px -416px;
}
.umbra0 {
    background-image: url('../../assets/effects.png');
    background-position: -480px -416px;
}
.umbra1 {
    background-image: url('../../assets/effects.png');
    background-position: -512px -416px;
}
.umbra2 {
    background-image: url('../../assets/effects.png');
    background-position: -544px -416px;
}
.umbra3 {
    background-image: url('../../assets/effects.png');
    background-position: -576px -416px;
}
.umbral_torchlight {
    background-image: url('../../assets/effects.png');
    background-position: -608px -416px;
}
.warping_blast0 {
    background-image: url('../../assets/effects.png');
    background-position: -640px -416px;
}
.weak_air0 {
    background-image: url('../../assets/effects.png');
    background-position: -672px -416px;
}
.weak_air1 {
    background-image: url('../../assets/effects.png');
    background-position: -704px -416px;
}
.zap0 {
    background-image: url('../../assets/effects.png');
    background-position: -736px -416px;
}
.zap1 {
    background-image: url('../../assets/effects.png');
    background-position: -768px -416px;
}
.zap2 {
    background-image: url('../../assets/effects.png');
    background-position: -800px -416px;
}
.zap3 {
    background-image: url('../../assets/effects.png');
    background-position: -832px -416px;
}
